.g-col.video-card {
    padding-left: 10px;
    padding-right: 10px;
    transition: padding-left 0.2s ease, padding-right 0.2s ease;
    
}
.g-col.video-card:hover {
    cursor: pointer;
    padding-left: 0px;
    padding-right: 0px;
    transform: scale(1.05);
    transition: 0.2s ease;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
}

.card-content:hover {
    box-shadow: 0px 10px 15px rgba(44, 44, 44, 0.15);
}

.video-card .card-content {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    margin-top: 20px;
    transition: box-shadow 0.2s ease;
}

.card-content > .main {
    border-left: 1.5px solid #b6b6b6;
    border-right: 1.5px solid #b6b6b6;
    border-bottom: 1.5px solid #b6b6b6;
}

.video-card .card-content .thumbnail {
    position: relative;
    height: 120px;
    display: flex;
    align-items: center;
    background: #171717;
    overflow: hidden;
}

.video-card .card-content .thumbnail img {
    position: absolute;
    border: 0;
    max-width: 100%;
    vertical-align: middle;
}

.g-col.video-card:hover .card-content .thumbnail img{
    opacity: 0.2;
}

.video-card .card-content .video-description{
    top: 0;
    display: none;
    margin: 10px 10px;
    color: #f0f0f0;
    position: absolute;
    line-height: 1.4;
    font-size: .8rem;
}

.g-col.video-card:hover .card-content .video-description{
    display: block;
}

.video-card .card-content .main {
    position: relative;
    background: #f0f0f0;
}

.video-card .card-content .main .video-title{
    display: flex;
    white-space: normal;
    word-wrap: break-word;
    margin: 0 15px;
    color: #2c2c2c;
    font-weight: 400;
    font-size: .75rem;
    line-height: 1.3;
    overflow: hidden;
    min-height: 50px;
    flex-direction: row;
    align-items: center;
}